*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 4rem;
  font-size: 1.5rem;
}

.item {
  
}
